## Input de Dados

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')

In [3]:
aux = pd.DataFrame({'colunas': df.columns,'tipos': df.dtypes, 'percentual_faltante': df.isna().sum() /df.shape[0]})

In [13]:
aux

                 colunas    tipos  percentual_faltante
PassengerId  PassengerId    int64             0.000000
Survived        Survived    int64             0.000000
Pclass            Pclass    int64             0.000000
Name                Name   object             0.000000
Sex                  Sex   object             0.000000
Age                  Age  float64             0.198653
SibSp              SibSp    int64             0.000000
Parch              Parch    int64             0.000000
Ticket            Ticket   object             0.000000
Fare                Fare  float64             0.000000
Cabin              Cabin   object             0.771044
Embarked        Embarked   object             0.002245

Idade(Age) tipo float: representam os meses? Afinal idade é sempre inteiro

In [14]:
#Dados numéricos: média ou mediana
df['Age'] = df['Age'].fillna(df['Age'].mode())

Aprendizado: sempre nos valores de treino(Train)
Real: dados que ele nunca viu

In [15]:
#Dados categóricos: unknown ou moda
df['Cabin'] = df['Cabin'].fillna('Unknown')

In [17]:
df['Cabin'].value_counts()

Unknown        687
C23 C25 C27      4
G6               4
B96 B98          4
F2               3
              ...
D21              1
A14              1
A24              1
A6               1
B71              1
Name: Cabin, Length: 148, dtype: int64

In [19]:
df.shape[0]

891